$nav-color: rgb(0, 68, 140);
$header-color: rgb(82, 137, 196);
$btn-primary: #007bff;
$bg-clr: #b4cfb0;
$header-clr: #789395;
$nav-clr: #94b49f;
$modal-bg-clr: #e5e3c9;
$body-clr: #f8f9fa;
$img-input-clr: #789395;
